@charset "UTF-8"
@import compass/css3

html
  font-size: 18px
  font-family: 'Noto Sans', 'Noto Sans T Chinese', '微軟正黑體', sans-serif
  color: #333

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4
  margin: 0
  padding: 0
  line-height: 1em
  +box-sizing(border-box)

body.ui.dimmable
  position: static

html, body
  overflow: hidden
  background-color: #efefef
  background-color: #E4E8E1

p
  line-height: 1.5em

a, a:link
  text-decoration: none
  color: inherit

.hidden
  display: none

.no.margin
  margin: 0

.float.right
  float: right

.align.center
  text-align: center

.clear.both
  clear: both

#topbar
  background-color: #AA987B
  +border-radius(0)
  margin: 0
  .item
    color: #fff
    font-size: 1.2rem
  .logo.image
    width: 1.2rem
    margin: -1rem 0.5rem -0.1rem 0
    display: inline

#event
  #header
    position: relative
    min-height: 15rem
    background-color: #D8D0B0
    background-color: #efefef
    background-color: #332
    text-align: center
    .background
      .image
        height: 15rem
        display: inline
    .cover
      position: absolute
      top: 0
      bottom: 0
      width: 100%
      +background-image(linear-gradient(rgba(#000,0.1), rgba(#000,0.1) 60%, rgba(#000,0.5)))
      .title
        position: absolute
        width: 100%
        bottom: 1rem
        .header
          color: #fff
        .small
          font-size: 1.5rem
          margin-left: 1rem
        .label
          background-color: rgba(#000,0.5)
          padding: 0.5rem 1rem
          +border-radius(0.5rem)


