@charset "UTF-8"
@import compass/css3

html
  font-family: 'Noto Sans', 'Noto Sans T Chinese', '微軟正黑體', sans-serif
  color: #333

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4, p
  font-size: 20px
  //font-weight: bold

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4
  margin: 0
  padding: 0
  line-height: 1em
  +box-sizing(border-box)

html, body
  background-color: #efefef

p
  line-height: 1.5em

a, a:link
  text-decoration: none
  color: inherit

.hidden
  display: none

.no.margin
  margin: 0

.float.right
  float: right

.align.center
  text-align: center

.clear.both
  clear: both

#topbar
  background-color: #AA987B
  .ui.menu
    background-color: #AA987B
    margin-bottom: 0
    .item
      color: #fff
      font-size: 1rem
    .logo.image
      width: 1rem
      margin: -1rem 0.5rem -0.1rem 0
      display: inline

#bottombar
  background-color: #D8D0B0
  .ui.menu
    background-color: #D8D0B0

.menu.bar
  max-width: 1200px
  margin-left: auto
  margin-right: auto
  +border-radius(0)
  +box-shadow(none)

#event
  #header
    position: relative
    //background-color: #D8D0B0
    //background-color: #efefef
    +background(image-url("bg-grass.png") repeat-x center bottom, hsl(80deg,40%,30%))
    +background(image-url("bg-grass.png") repeat-x center bottom, rgba(#5EA092,1))
    +background(image-url("https://raw.githubusercontent.com/g0v/don-constitute/gh-pages/public/img/bg-grass.png") repeat-x center bottom, rgba(#31343D,1))
    text-align: center
    .background
      height: 15rem
      text-overflow: clip
      white-space: nowrap
      //overflow-x: hidden
      .image
        height: 15rem
        display: inline
    .cover
      position: absolute
      top: 0
      bottom: 0
      width: 100%
      +background-image(linear-gradient(rgba(#000,0.1), rgba(#000,0.1) 60%, rgba(#000,0.5)))
      .title
        position: absolute
        width: 100%
        bottom: 1.5rem
        .header
          color: #fff
          font-size: 3rem
          letter-spacing: 0.1rem
          //.icon
          //  margin: 0
          //.small
          //  font-size: 1rem
          //  margin-left: 1rem
          //.label
          //  background-color: rgba(#AA987B,1)
          //  background-color: rgba(#98C0B7,1)
          //  background-color: hsla(80deg,50%,40%,1)
          //  background-color: rgba(#5EA092,1)
          //  padding: 0.5rem 1rem
          //  +border-radius(0.5rem)
  #content
    max-width: 1200px
    margin: 0 auto
    .description
      padding: 1rem
      p
        font-size: 1.2rem
    .event.meta
      //padding: 0 1rem
      margin: 0
      background-color: #E4E8E1
      background-color: rgba(#98C0B7,0.5)
      .item
        //font-size: 0.8rem
        //.label
        //  background-color: rgba(#D8D0B0,1)
        //  background-color: rgba(#efefef,1)
        .key
          font-weight: bold
        .value
          margin-left: 1rem
    #log
      .icon
        margin: 0
        &.red
          +text-shadow(rgba(#000,.5) 0 0 1px)
        &.gray
          opacity: 0.5
        &.yellow
          +text-shadow(rgba(#000,.5) 0 0 1px)
      #sample
        .key
          text-align: center
        .value
          font-size: 0.8rem
          text-align: center
          margin-top: .5rem
      #pilot
        margin-bottom: 0
        margin-top: 1rem
      #filter
        margin: 1rem 0
      #list
        .entry
          position: relative
          margin-left: 5rem
          margin-right: 6rem
          .rating
            position: absolute
            left: -5rem
            top: 1rem
          .content
          .tag
            float: right
            margin: -0.2rem 0 -1rem 1rem
            .ui.label
              margin-bottom: 0.5rem
          .action
            position: absolute
            right: -6rem
            top: 0.5rem

    #footer
      padding: 1rem 1rem 0 1rem
      background-color: rgba(#31343D,1)
      color: #E4E8E1
      .section
        margin-right: 1rem
        display: inline-block
        min-height: 3rem
      .text
        margin-right: 1rem
      .links
        .button
          margin-bottom: 0.5rem
      .social
        padding-top: 0.8rem
        .button
          position: relative
          top: -0.8rem

