extends _template

block script
  script.
    var current_path = location.pathname.substring(1,999);
    var map = [
      ['#!about/cjg9','p/blog-page_20.html'], //目標與計畫
      ['#!blog/c1j4z',''], //倡議行動
      ['#!applyform/c3s6',''], //加入合作
      ['#!《新憲運動宣言》記者會新聞稿/c1kz7/3DF3700D-1397-4AD6-948E-90A8FE9799BC',''], //記者會新聞稿
      ['#!憲政草根論壇-x-司改會/c1kz7/1',''] //司改會
    ];
    for (var i = 0; i < map.length; i++){
      if (current_path == map[i][0]){
        window.location = map[i][1];
      }
    };
