extends _template

block css
  link(rel="stylesheet",href="css/clock.css")

block title
  | 憲改鐘 

block body
  #content
    #clock
      h1.title.ui.header.inverted 距離四月十日退場聲明滿一週年
        br
        | 要求承諾公民憲政會議的最後期限
      #counter
        script(type='text/javascript').
          var year = "2015";var month = "4";var day = "10";var hour = "0";var minute = "0";var centi = "5";
          var convert = "0";var roop = "";
          var cnt1 = "天";var cnt2 = "小時";var cnt3 = "分";var cnt4 = "秒";
          var baseoffset = "-8";
          var br1 = "";var br2 = "";var br3 = "";var br4 = "";
          var com1 = "還剩下";var com2 = "";var com3 = "";var com4 = "憲政改革全面啟動";var end = "1";
          var width = "1024";var height = "100";
          var font = "sans-serif";var font2 = "7seg4";var size = "48";var l_height = "64";var bold = "";var italic = "";var line = "";
          var space = "6px 0px 0px 0px";
          var align = "2";var img = "";
          var color1 = "FFFFFF";var color2 = "00FF00";var color3 = "000000";
    #cover
      h1.title.ui.header.inverted 三一八晚會　人民來倒數
        br
        | 要求主要政黨承諾啟動憲改對話平台
      #start.ui.button.massive.blue
        i.icon.clock
        | 開始倒數
  #light


block script
  script(type='text/javascript', src='http://countdown.reportitle.com/js/neo1.js')
  //-a(href='http://countdown.reportitle.com/') カウントダウンタイマー
  script(type='text/javascript', src='http://countdown.reportitle.com/js/neo2.js')
  script(type='text/javascript').
    $('#start').on('click tap',function(){
      $('#cover').fadeOut(1000);
      $('#light').delay(1000).fadeOut(1000);
    });
