.entry.ui.segment
  .rating
    i.icon.star.yellow
    i.icon.star.yellow
    i.icon.star.yellow
  .tag.ui.labels
    .ui.label 憲法
    .ui.label 選制
  .content
    p 總統有權無責(他可以任意作他想作的，大家不能怎麼樣)
  .action
    .ui.icon.small.button
      i.icon.chevron.down
    .ui.icon.small.button
      i.icon.right.arrow
