extends level-one

block head
  // handlebars
  script(type="text/javascript",src="assets/handlebars-v2.0.0.js")

  // underscore
  script(type="text/javascript",src="assets/underscore-min.js")

  // csv parser
  //script(type="text/javascript",src="assets/csv.js")

  // tabletop.js
  script(type="text/javascript",src="assets/tabletop.js")

  block subhead

block title
  | 草根論壇
  block subtitle
  |  | 

block topbar
  //-.item.expand.collapse
    .ui.icon.button.black.active
      i.icon.chevron.down

block content

  #event

    header#header

      .background

        block header-images

      .cover
        .title
          h1.header 草根論壇
            block header-title

    nav#menu
      .horizontal.wrap

        .ui.fluid.three.item.menu.inverted
          a.active.item(data-tab='overview') 總覽
          a.item(data-tab='records') 討論紀錄
          a.item(data-tab='photos') 活動照片

    section#overview.ui.active.tab(data-tab='overview')
      .horizontal.wrap

        article.event.meta.ui.two.column.stackable.divided.grid
          block meta

        article.description
          block main-article

        article.video
          block video
          iframe(width='560', height='315', src='https://www.youtube.com/embed/videoseries?list=PLqOM19aHIAdcUbspkI-VUgzzveNV-HUqN', frameborder='0', allowfullscreen='')

        section#footer

          block footer

          .section.social
            span.text 分享活動至
            span.text
              .fb-share-button(data-layout="button_count")
            span.text
              .g-plus(data-action="share",data-annotation="bubble")
            span.text
              a(href="https://twitter.com/share",class="twitter-share-button",data-hashtags="憲政草根論壇") Tweet

    section#records.ui.tab(data-tab='records')
      .horizontal.wrap

        article#log
          //-.ui.horizontal.divider 紀錄
          //-#pilot.ui.menu
          #pilot.ui.secondary.pointing.menu
            a.filter.item(name="segment").active 所有
              .ui.black.label
            a.filter.item(name="teal") 導讀
              .ui.teal.label
            a.filter.item(name="yellow") 經驗
              .ui.yellow.label
            a.filter.item(name="red") 問題
              .ui.red.label
            a.filter.item(name="green") 主張
              .ui.green.label
            a.filter.item(name="blue") 彙整
              .ui.blue.label
            .right.menu
              .item.ui.button.expand 全部展開
              .item.ui.button.collapse 全部收合
              //-.item.ui.simple.dropdown.sort
                span.current 依發言順序
                i.icon.dropdown
                .menu
                  .item.timestamp 依發言順序
                  .item.agreement 依同意度
          #filter.tag.ui.labels.collapsed
          #list
          .ui.divider
          //-#sample.ui.six.column.stackable.grid
          #sample.ui.stackable.grid
            .equal.height.divided.row
              .column
                .key
                  i.icon.ban.red
                p.value 有人強烈阻擋
              .column
                .key
                  i.icon.thumbs.down.orange
                p.value 有人反對
              .column
                .key
                  i.icon.thumbs.up.gray
                  i.icon.thumbs.up.gray
                  i.icon.thumbs.up.gray
                p.value 無人贊同
              .column
                .key
                  i.icon.thumbs.up.green
                  i.icon.thumbs.up.gray
                  i.icon.thumbs.up.gray
                p.value 僅少數人支持認同
              .column
                .key
                  i.icon.thumbs.up.green
                  i.icon.thumbs.up.green
                  i.icon.thumbs.up.gray
                p.value 約半數人支持認同
              .column
                .key
                  i.icon.thumbs.up.green
                  i.icon.thumbs.up.green
                  i.icon.thumbs.up.green
                p.value 全場多數人支持認同

    section#photos.ui.tab(data-tab='photos')
      .horizontal.wrap blah

    section#content.horizontal.wrap

block script

  block subscript

  script.

    $('#menu .item')
      .tab({
        history: true,
        historyType: 'hash'
      });

    $(document).ready(function(){

      // step 0: setup

      //-var entry_template_source ='<div data-id="{{id}}" data-parent="{{parent}}" data-agreement="{{agreement}}" class="entry"><div class="ui segment {{color}}"><div class="rating"></div><div class="tag ui labels"></div><p class="content">{{content}}<span class="nickname"> — {{nickname}}</span></p><div class="action"><div class="ui icon small button expand disabled"><i class="icon chevron down"></i></div><a href="{{source}}" target="_blank" class="ui icon small button"><i class="icon right arrow"></i></a></div></div><div class="detail"><div class="comment ui divided list"></div><div class="subentry"></div></div></div>';
      var entry_template_source ='<div data-id="{{id}}" data-parent="{{parent}}" data-agreement="{{agreement}}" class="entry"><div class="ui segment {{color}}"><div class="rating"></div><div class="tag ui labels"></div><p class="content">{{content}}<span class="nickname"> — {{nickname}}</span></p><div class="action"><div class="ui icon small button expand disabled"><i class="icon chevron down"></i></div></div></div><div class="detail"><div class="comment ui divided list"></div><div class="subentry"></div></div></div>';
      var entry_template = Handlebars.compile(entry_template_source);

      var entry_tag_template_source ='<div class="ui label">{{tag}}</div>';
      var entry_tag_template = Handlebars.compile(entry_tag_template_source);

      var entry_comment_template_source = '<div class="{{type}} item"><i class="icon {{icon}}"></i>{{description}}</div>';
      var entry_comment_template = Handlebars.compile(entry_comment_template_source);

      var agree_element_template = '<i class="icon thumbs up green"></i>';
      var empty_agree_element_template = '<i class="icon thumbs up gray"></i>';
      var disagree_element_template = '<i class="icon thumbs down orange"></i>';
      var empty_disagree_element_template = '<i class="icon thumbs down gray"></i>';
      var block_element_template = '<br/><i class="icon ban red"></i>';
      var empty_block_element_template = '<br/><i class="icon ban gray"></i>';

      // step 1: get data and render projects

      //var gsheet_id = '1GD2B3sC8TvkVaU4RZwiNeqtxvawqfcKaNAmshQXmPz4';
      //var csv_api_source = 'docs.google.com/feeds/download/spreadsheets/Export?key='+gsheet_id+'&exportFormat=csv&gid=0';
      var tabletop;
      var log;

      var renderPage = function(data, tabletop){
        //compile_json(data);
        //console.log(data);
        //console.log(log);
        log = tabletop.sheets('log').all();

        $.each(log, function(entry_index, entry){
          if(entry_index < 1){
            return;
          }

          var entry_id = entry_index || "";
          var entry_content = entry['發言內容本文'] || "";
          var entry_parent = parseInt(entry_index) - parseInt(entry['格數']) || "";

          var entry_speaker = entry['發言人'] || "";
          var entry_class = entry['發言類型'] || "";

          var entry_agree = entry['同意強度'] || "";
          var entry_agree_count = 0;
          if(entry_agree == "多數贊成" || entry_agree == "全場贊成" || entry_agree == "幾乎全場贊成" || entry_agree == "3"){
            entry_agree_count = 3;
          }else if(entry_agree == "半數贊成" || entry_agree == "半數以上贊成" || entry_agree == "2"){
            entry_agree_count = 2;
          }else if(entry_agree == "少數贊成" || entry_agree == "1"){
            entry_agree_count = 1;
          }

          var entry_disagree = entry['反對強度'] || "";
          var entry_disagree_count = 0;
          if(entry_disagree == "多數反對" || entry_disagree == "全場反對" || entry_disagree == "幾乎全場反對" || entry_disagree == "3"){
            entry_disagree_count = 3;
          }else if(entry_disagree == "半數反對" || entry_disagree == "半數以上反對" || entry_disagree == "2"){
            entry_disagree_count = 2;
          }else if(entry_disagree == "少數反對" || entry_disagree == "1"){
            entry_disagree_count = 1;
          }

          var entry_color = "";
          if(entry_class.indexOf('問題') > -1){
            entry_color = "red";
          }else if(entry_class.indexOf('主張') > -1 || entry_class.indexOf('提案') > -1 || entry_class.indexOf('方案') > -1){
            entry_color = "green";
          }else if(entry_class.indexOf('彙整') > -1 || entry_class.indexOf('總結') > -1 || entry_class.indexOf('結論') > -1){
            entry_color = "blue";
          }else if(entry_class.indexOf('經驗') > -1){
            entry_color = "yellow";
          }else if(entry_class == "導讀" || entry_class.indexOf('引言') > -1){
            entry_color = "teal";
          }else if(entry_class == "主持"){
            entry_color = "";
          }else if(entry_class == "自我介紹"){
            entry_color = "";
          };

          var context = {id: entry_id, content: entry_content, color: entry_color, parent: entry_parent, agreement: entry_agree_count, nickname: entry_speaker};
          var $entry_element = $(entry_template(context));

          if (entry['關鍵字'].length > 0) {
            var entry_tags = entry['關鍵字'].split(/[\s,、]+/) || [];
            $.each(entry_tags, function(tag_index, tag){
              tag = tag.trim();
              var context = {tag: tag};
              var $tag_element = $(entry_tag_template(context));
              $entry_element.find('.tag').append($tag_element);
            });
          }

          var rating_elememt_template = '';

          if(entry_agree.length > 0){
            _(entry_agree_count).times(function(){
              rating_elememt_template += agree_element_template;
            });
            _(3-entry_agree_count).times(function(){
              rating_elememt_template += empty_agree_element_template;
            });
          }

          if(entry_disagree.length > 0){
            rating_elememt_template += '<br/>'
            _(entry_disagree_count).times(function(){
              rating_elememt_template += disagree_element_template;
            });
            _(3-entry_disagree_count).times(function(){
              rating_elememt_template += empty_disagree_element_template;
            });
          }

          var entry_oppose = entry['阻擋'] || "";
          if(entry_oppose.length > 0){
            if(entry_oppose != "無"){
              rating_elememt_template += block_element_template;
            }
          };

          var $rating_elememt = $(rating_elememt_template);
          $entry_element.find('.rating').append($rating_elememt);

          //var comment_icon_settings = {agree: "thumbs up outline", disagree: "thumbs down outline", block: "remove red", info: "info"}
          //$.each([ "info", "agree", "disagree", "block" ], function( index, value ){
          //  $.each(entry[value], function(comment_index, comment){
          //    var context = {type: value, icon: comment_icon_settings[value], description: comment};
          //    var $comment_element = $(entry_comment_template(context));
          //    $entry_element.find('.comment').append($comment_element);
          //  });
          //});

          $('#list').append($entry_element);
        });

        // step 2: build parent-child relationship

        var children_entries = $('#list .entry').filter(function(index){
          return $(this).attr('data-parent').length > 0;
        });
        $.each(children_entries, function(index, entry){
          var parent_id = $(this).attr('data-parent');
          $(this).appendTo('[data-id="'+parent_id+'"]>.detail>.subentry');
        });

        // step 3-1: build filters

        var filter_tag_template_source = '<a class="ui label">{{tag}}<div class="detail">{{count}}</div></a>';
        var filter_tag_template = Handlebars.compile(filter_tag_template_source);
        var tag_list = {};
        $.each($('.entry .tag .label'), function(){
          if($(this).text().length == 0){
            return;
          }else if(!tag_list[$(this).text()]){
            tag_list[$(this).text()] = 1;
          }else{
            tag_list[$(this).text()] += 1;
          }
        });
        $.each(tag_list, function(key, value){
          var context = {tag: key, count: value};
          var $tag_element = $(filter_tag_template(context));
          $('#filter').append($tag_element);
        });

        $('#filter .label').sort(function(a,b) {
          return parseInt($(b).find('.detail').text()) - parseInt($(a).find('.detail').text());
        }).appendTo('#filter');

        $('#pilot .black.label').text($('.entry').length);
        $('#pilot .red.label').text($('.entry>.red.segment').length);
        $('#pilot .green.label').text($('.entry>.green.segment').length);
        $('#pilot .blue.label').text($('.entry>.blue.segment').length);
        $('#pilot .teal.label').text($('.entry>.teal.segment').length);
        $('#pilot .yellow.label').text($('.entry>.yellow.segment').length);

        // step 3-2: add interactions

        var tag_filter = "";
        $('#filter .label').on('click tap', function(){
          tag_filter = $(this).contents().filter(function() {
            return this.nodeType == 3;
          }).text();
          $('#list .entry').slideUp();
          $('#list .entry').has('.tag .label:contains("'+tag_filter+'")').slideDown();
          $('#filter .label').removeClass('black');
          $(this).addClass('black');
          $('#pilot .item').removeClass('active');
          $('#list .entry .tag .label').removeClass("black");
          $('#list .entry .tag .label:contains("'+tag_filter+'")').addClass("black");
        });

        var class_filter = "";
        $('#pilot .filter.item').on('click tap', function(){
          class_filter = $(this).attr('name');
          $('#list .entry').slideUp();
          $('#list .entry').has('.ui.'+class_filter).slideDown();
          $('#pilot .item').removeClass('active');
          $(this).addClass('active');
          $('#filter .label').removeClass('black');
          $('.entry .tag .label').removeClass("black");
        });

        $('#list .entry').has('.comment .item, .subentry .entry').children('.segment').children('.action').children('.expand.button').removeClass('disabled').addClass('active');
        $('#list .entry .expand.button').on('click tap', function(){
          $(this).closest('.entry').find('.detail').slideToggle();
          $(this).toggleClass('active');
        });
        $('#pilot .expand.button').on('click tap', function(){
          $('#list .entry .detail').slideDown();
          $('#list .entry .expand.button').not('disabled').addClass('active');
          $('#filter').removeClass('collapsed');
        });
        $('#pilot .collapse.button').on('click tap', function(){
          $('#list .entry .detail').slideUp();
          $('#list .entry .expand.button').not('disabled').removeClass('active');
          $('#filter').addClass('collapsed');
        });

        $('#pilot .sort .timestamp').on('click tap', function(){
          $('#list>.entry').sort(function(a,b) {
            return parseInt($(a).data('id')) - parseInt($(b).data('id'));
          }).appendTo('#list');
          $('#pilot .sort .current').text($(this).text());
        });
        $('#pilot .sort .agreement').on('click tap', function(){
          $('#list>.entry').sort(function(a,b) {
            return parseInt($(b).data('agreement')) - parseInt($(a).data('agreement'));
          }).appendTo('#list');
          $('#pilot .sort .current').text($(this).text());
        });

        // step 4 collapse header section for reading

        //$('#pilot, #filter').on('click tap', function(){
        //  $('#topbar .expand.collapse .button').removeClass('active');
        //  $('#event').find('#header, #content>.meta, #content>.description').slideUp();
        //});

        //$('#topbar .expand.collapse .button').on('click tap', function(){
        //  $('#topbar .expand.collapse .button').toggleClass('active');
        //  $('#event').find('#header, #content>.meta, #content>.description').slideToggle();
        //});

        // step 5 mark current page
        $("#topbar a[href*='grassroots']").addClass("active");
        //$('#topbar .item:contains("草根論壇")').addClass('active');

      }

      tabletop = Tabletop.init({
        key: gsheet_url,
        callback: renderPage,
      });

    });

