extends grassroot

block subhead
  meta(name="description",content="...")

block subtitle
  | #2 公民不設限，鬥陣來實憲：人權篇

block header-images
  img.ui.image(src="")

block header-title
  | #2 公民不設限，鬥陣來實憲：人權篇

block meta

  .column
    p.item
      span.key 主辦
      span.value 公民憲政推動聯盟
        //-i.icon.forward.mail
    p.item
      span.key 時間
      span.value 2014/11/1日 星期六 9:30~17:00
    p.item
      span.key 地點
      span.value 台南市成功大學（力行校區）社會科學大樓一樓80105教室
  .column
    p.item
      span.key 參加人數
      span.value 人
    p.item
      span.key 參加者組成
      span.value ...

block main-article

  p ...

block footer
  //-.section.ui.black.labels
    span.text 工作團隊
    .ui.label 怡碧
    .ui.label 志勳
    .ui.label 家華
    .ui.label 仲庭
  .section.links
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="") 活動照片
      i.icon.photo
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B6DZkaZUUWphWjFNQURvRlotN1k/view?usp=sharing") 會議手冊
      i.icon.file.text
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B6DZkaZUUWphRHdSLUtobXlQeEU/view?usp=sharing") 新憲運動做什麼？
      i.icon.file.powerpoint.outline
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B6DZkaZUUWphLUNoa3BSR0gyRVE/view?usp=sharing") 確保公共官僚組織成為民主的守護神
      i.icon.file.pdf.outline
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="") 報名頁面存檔
      i.icon.archive
  //-.related 相關場次

block subscript
  script.
    var gsheet_url ='https://docs.google.com/spreadsheets/d/1tqn0L2tEpM8vZauA2jpRwN9nLU-1TnZz7uboYKji1DQ/pubhtml';
