extends level-one

block head

block title
  | 草根論壇遍地開花

block topbar

block content

  #list

    header#header
      .background
      .cover
        .title
          h1.header 草根論壇遍地開花

    section#content.horizontal.wrap
      nav.ui.secondary.pointing.menu
        .item 開放報名中
          .ui.orange.label 1
        .item 活動紀錄
          .ui.teal.label 2
      .ui.two.column.stackable.grid
        .column
          .ui.segment
            .ui.top.attached.label.orange
              span.float.right 2015/2/7 Sat. 台中
              | 草根論壇 x 哲學星期五
            h2
              a(href="https://docs.google.com/forms/d/1mKGMkN5A81TNCVIIKjU_kAhUj2ljkmPSfEa5KuVbyBo/viewform")
                | 選舉制度
                .ui.left.pointing.mini.label.yellow 報名中
            p 2014年九合一大選過後，向來看似穩定的地方選舉結構，有了些許的鬆動，然而，台灣的選舉制度，從中央到地方，仍舊充滿許多問題。是什麼樣的選舉制度，讓人民無法選舉出適任的政治代理人？在過去的選舉經驗中，我們觀看、聆聽，當我們從日常生活中的經驗出發來看選舉，必定也能發現選舉細節中的魔鬼。
            //-p 如果你也關心如何能透過一個更公平的選舉方式，讓台灣政治變得更理想，那麼千萬別錯過這一場公民憲政會議草根論壇，2月7日星期六立委補選日當天下午1：00～5：30，由「公民憲政推動聯盟」與「哲學星期五＠台中」共同合作，將在「想想 Think Corner」舉辦一場公民憲政會議草根論壇，將就「選舉制度」這個主題提出討論，歡迎所有關心選舉制度問題的市民朋友，一起來參與這場討論，並提供你對於選舉制度的改革建議與看法。
        .column
          .ui.segment
            .ui.top.attached.label.teal
              span.float.right 2015/2/1 Sun. 台北
              | 草根論壇 x 伴侶盟
            h2
              a(href="") 同志的美麗與哀愁
            p 在這場草根論壇中，我們希望能夠看見每個同志在日常生活裡所面對的各種艱難處境，釐清這些艱難與法律、制度之間的關係。身為同志，我們和制度的距離並不遙遠，同志會是學生、會是子女也會有勞工身分，但更重要的是，我們同時也是公民，同志公民的處境究竟要怎麼改革，問題究竟出在哪裡？邀請您和我們一起參與，在這場民主運動裡增添同志視角與經驗。
        .column
          .ui.segment
            .ui.top.attached.label.teal
              span.float.right 2014/08/29 Fri. 台北
              | 草根論壇 x 司改會
            //-.ui.image.wrap
              img(src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/10397046_743166745732737_6981759218115780785_o.jpg")
            h2
              a(href="grassroot-jrf-20140829") 政府體制與選制
                .ui.mini.icon.right.labeled.compact.button.float 活動紀錄
                  i.icon.right.arrow
            p 今年八月間，同為「公民憲政推動聯盟」一員的司改會，響應正在籌備規劃中的草根論壇，決定試辦第一場公民憲政會議草根論壇，邀請當時在司改會實習的大學生，及其轉邀請的朋友，進行一場三個多小時的草根論壇，暢談青年學子們對台灣憲政問題的不滿，並提出許多對政府體制改革的不同想像。
        .column
          .ui.segment
            .ui.top.attached.label.teal
              span.float.right 2014/12/19 Fri. 台北
              | 草根論壇 x 地球公民基金會
            h2
              a(href="grassroot-cet-20141219") 空污怎麼辦？
                .ui.mini.icon.right.labeled.compact.button.float 活動紀錄
                  i.icon.right.arrow
            p 你我都需要呼吸乾淨的空氣，渴望健康無毒的環境。面對日益嚴重的空氣汙染，儘管民間不斷呼籲實施空污總量管制，降低大污染源排放上限，經濟部卻說：「如此將不利新投資案設廠」。鳩竟~什麼樣的生活形態與價值選擇才是台灣社會要的環境正義？『綠色經濟』與『產業轉型』有沒有可能為不堪負荷的小小島嶼找到出口？空汙議題與產業政策的背後，又是怎樣的政治結構阻礙了改革？這是一場體驗民主參與的活動，大家提出自己的感受與分析，與其他關心議題的公民朋友交流，共同探討台灣的改造方向。

block script
  script.
    $('#topbar .item:contains("草根論壇遍地開花")').addClass('active');

