extends grassroot

block subhead
  meta(name="description",content="...")

block subtitle
  | #0 政府體制與選制

block header-images

block header-title
  | #0 政府體制與選制

block meta

  .column
    p.item
      span.key 主辦
      span.value 民間司法改革基金會
    p.item
      span.key 時間
      span.value 2014/08/29 星期五 13:00~17:00
    p.item
      span.key 地點
      span.value 司改會辦公室 (台北市中山區松江路90巷3號7樓)
  .column
    p.item
      span.key 參加人數
      span.value 18人
    p.item
      span.key 參加者組成
      span.value 多為當時暑假在司改會實習的各大專院校學生，及其轉邀的朋友，年齡多為19歲~23歲，其中半數為大台北地區學生。

block main-article

  p 今年八月間，同為「公民憲政推動聯盟」一員的司改會，響應正在籌備規劃中的草根論壇，決定試辦第一場公民憲政會議草根論壇，邀請當時在司改會實習的大學生，及其轉邀請的朋友，進行一場三個多小時的草根論壇，暢談青年學子們對台灣憲政問題的不滿，並提出許多對政府體制改革的不同想像。

block footer
  .section
    span.text 工作團隊
    img.ui.avatar.image(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/c53.0.320.320/p320x320/198741_10150267165356026_4254897_n.jpg?oh=57fec31a1c3c6a4c4e5638070e48f759&oe=54FBFCEB&__gda__=1426250864_861e3e113937a55f7a4bc526b34d86f0")
    img.ui.avatar.image(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/v/t1.0-1/c0.0.320.320/p320x320/602374_516039635112117_2075101542_n.jpg?oh=f57b542550dfa2421f0b4d452332349a&oe=54FC4AD5&__gda__=1429168255_eccafdca31623af9c5f80e5eed7eb234")
  .section.links
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://www.facebook.com/media/set/?set=oa.1566445763589708&type=1") 活動照片
      i.icon.share
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B6DZkaZUUWphTS1HTDZEZ0hKRnc/view?usp=sharing") 會議手冊
      i.icon.file.text
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://docs.google.com/spreadsheets/d/1OfQ6PE-3q5fN8Wi_Og-DJbZBfvoc3Pvoza_cIHe21-8/edit?usp=sharing") 秘訣
      i.icon.pencil

block photo
  iframe(src='http://embedsocial.com/facebook_album/album_photos/688402134590904', width='900', height='1450', frameborder='0', scrolling='no', marginheight='0', marginwidth='0')

block video
  iframe(width='560', height='315', src='https://www.youtube.com/embed/videoseries?list=PLqOM19aHIAdduzOaj0rjTesy2cqSBWNT6', frameborder='0', allowfullscreen='')

block subscript
  script.
    var gsheet_url ='https://docs.google.com/spreadsheets/d/1OfQ6PE-3q5fN8Wi_Og-DJbZBfvoc3Pvoza_cIHe21-8/pubhtml';
