extends grassroot

block subhead
  meta(name="description",content="...")

block subtitle
  | #11 許我一個良善的選舉制度

block header-images
  img.ui.image(src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10978613_858326794227410_2709588489549726953_n.jpg?oh=32872b6a8fe5e5268afb48505081121f&oe=5590DC87&__gda__=1432689133_029453ec157ab3ea1ab879b4f3b3fb7e")
  img.ui.image(src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10985323_858325297560893_4826368094658531352_n.jpg?oh=2c2cdbf51f0ccf5b3fa3d5d1a8bd6732&oe=554A2207&__gda__=1431170958_0b159be62a2346d7637a5422ca46ebec")
  img.ui.image(src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10958047_858325170894239_8604811656376933808_n.jpg?oh=125477ed510ba49966971464c0a8ccd0&oe=554C8769")

block header-title
  | #11 許我一個良善的選舉制度

block meta

  .column
    p.item
      span.key 主辦
      span.value 哲學星期五@台中
    p.item
      span.key 時間
      span.value 2015/2/7 星期六 13:00～17:30
    p.item
      span.key 地點
      span.value 想想 Thinker's Corner
  .column
    p.item
      span.key 參加人數
      span.value 人
    p.item
      span.key 參加者組成
      span.value ...

block main-article

  p 2014年九合一大選過後，向來看似穩定的地方選舉結構，有了些許的鬆動，然而，台灣的選舉制度，從中央到地方，仍舊充滿許多問題。是什麼樣的選舉制度，讓人民無法選舉出適任的政治代理人？在過去的選舉經驗中，我們觀看、聆聽，當我們從日常生活中的經驗出發來看選舉，必定也能發現選舉細節中的魔鬼。

block footer
  .section.ui.black.labels
    span.text 講者
    .ui.label 李根政（台灣綠黨共同召集人）
    .ui.label 楊長鎮（民主進步黨台灣民主學院主任）
  .section.ui.black.labels
    span.text 主持
    .ui.label 家華
    .ui.label 于聖
  .section.ui.black.labels
    span.text 紀錄
    .ui.label backer
  .section.ui.black.labels
    span.text 轉播攝影場務
    a(target="_blank",href="https://www.facebook.com/cafephilotaichung?fref=ts").ui.label 哲學星期五＠台中
  .section.links
    span.text 參考資料
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://www.youtube.com/watch?v=Urt-D-qSUeU") 請投我一票
      i.icon.youtube.play
    a.ui.black.icon.right.labeled.button(target="_blank",href="http://whogovernstw.org/2014/05/20/fangyuchen1/") 選舉制度ABC
      i.icon.file.text
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/open?id=0B4Dee6_4G1R5WjBWX0pBLVRzN1k&authuser=0") 選舉制度/俊宏
      i.icon.pdf.file.outline
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0ByIKbn5JwMM-R0tOSU9wWE4zWXh2X2ZMenhiUFN3Wml6OXpj/view?usp=sharing") 綠黨選舉報告/根政
      i.icon.pdf.file.outline

  .section.links
    span.text 相關連結
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://www.facebook.com/media/set/?set=a.858325020894254.1073741856.638482176211874&type=1") 活動照片
      i.icon.photo
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://www.youtube.com/playlist?list=PLm7sEt6rah-YyR5nyAq4i1xzdG3dn4Z0q") 活動影片
      i.icon.youtube.play
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://civil.hackpad.com/ep/pad/static/HwNF6af3q5Q") 現場速記
      i.icon.file.text
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://docs.google.com/forms/d/1mKGMkN5A81TNCVIIKjU_kAhUj2ljkmPSfEa5KuVbyBo/viewform") 報名頁存檔
      i.icon.archive
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="https://docs.google.com/spreadsheets/d//edit#gid=0") 秘訣
      i.icon.pencil
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="") 秘訣的泉源
      i.icon.unhide
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="") 秘訣的泉源的泉源
      i.icon.unhide
  //-.related 相關場次

block photo
  iframe(src='http://embedsocial.com/facebook_album/album_photos/688402134590904', width='900', height='1450', frameborder='0', scrolling='no', marginheight='0', marginwidth='0')

block video
  iframe(width='560', height='315', src='https://www.youtube.com/embed/videoseries?list=PLqOM19aHIAdfMRv2ECzsIEoUlsEVxiO1w', frameborder='0', allowfullscreen='')

block subscript
  script.
    var gsheet_url ='';

block records
  iframe(src='https://civil.hackpad.com/ep/pad/static/HwNF6af3q5Q', width='900', height='1450', frameborder='0', scrolling='yes', marginheight='0', marginwidth='0')
