extends grassroot

block head
  meta(name="description",content="...")

block subtitle
  | #9 死刑的替代方案

block header-images
  //-img.ui.image(src="https://docs.google.com/file/d/0B1KrXPla6Lm6aHlaSGJ2bVR4VEk/preview")
  //-img.ui.image(src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10410151_763702280345850_7424350990609295964_n.jpg?oh=445b87dcff31eeede08b2a1fc1097579&oe=5558299B&__gda__=1433219569_da0d3dc5417aeed66a63a1ad4785652d")

block header-title
  | #9 死刑的替代方案

block meta

  .column
    p.item
      span.key 主辦
      span.value 廢除死刑推動聯盟
    p.item
      span.key 時間
      span.value 2015/1/24 星期六 09:30~13:30
    p.item
      span.key 地點
      span.value 廢死聯盟辦公室
  .column
    p.item
      span.key 參加人數
      span.value 11（男7，女4）人
    p.item
      span.key 參加者組成
      span.value 怕死讀書會成員、廢死網絡內部志工

block main-article

  p 2014年4月台灣政府在死刑執行中，處決了兩位判決非常有疑慮的死刑犯，也處決了一位非常救濟程序還在進行中的死刑犯。很難過的說，台灣政府在司法判決與執行上，並不如想像中的嚴謹，而是如此的輕率。我們如何懲罰壞人？在思考死刑的替代方案時，有什麼樣的方案可以被接受？是要終身監禁不得假釋，還是高門檻的無期徒刑？或者還有其他可能？

block footer

  //-.section.ui.black.labels
    span.text 草根生長地點
    a.ui.label 台北市
  .section.ui.black.labels
    span.text 解說
    .ui.label 陳雨凡
    .ui.label 林欣怡
  .section.ui.black.labels
    span.text 主持
    .ui.label 黃嵩立
    .ui.label 李仲庭
  .section.ui.black.labels
    span.text 紀錄
    .ui.label 黃珮芬
    .ui.label 余嘉芳
  .section.ui.black.labels
    span.text 籌備
    .ui.label 林欣怡
    .ui.label 謝仁郡
    .ui.label 呂家華
    .ui.label 黃怡碧
  .section.links
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://docs.google.com/forms/d/1sPgKBDCSscQfsfAGRAX0XCg7YUtkUuOfO8CI1x0DPFs/viewform") 報名頁面存檔
      i.icon.archive
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="") 活動照片
      i.icon.photo
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B6DZkaZUUWphclg1VlNpdTd4U3M/view") 會議手冊
      i.icon.file.text
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B6DZkaZUUWphTm1VTFRiWkZZUGs/view") 議題資料
      i.icon.file.text
  //-.related 相關場次

block subscript
  script.
    var gsheet_url ='https://docs.google.com/spreadsheets/d/1b3FeV7ogUR0oY7vDN_lG5b1ClJBQBmJNtZnSg_0CX9g/pubhtml';
