extends grassroot

block subhead
  meta(name="description",content="...")

block subtitle
  | #1 青年憲政

block header-images

block header-title
  | #1 青年憲政

block meta

  .column
    p.item
      span.key 主辦
      span.value 臺大法言社、臺大法律學院研究生協會、臺大社會科學院院學會、臺大科際整合法律研究所學會
        //-i.icon.forward.mail
    p.item
      span.key 時間
      span.value 2014/09/27日 星期六 13:30~17:00
    p.item
      span.key 地點
      span.value 臺大社科院頤賢館202
  .column
    p.item
      span.key 參加人數
      span.value 人
    p.item
      span.key 參加者組成
      span.value ...

block main-article

  p ...

block footer
  //-.section.ui.black.labels
    span.text 工作團隊
    .ui.label 怡碧
    .ui.label 志勳
    .ui.label 家華
    .ui.label 仲庭
  .section.links
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="") 活動照片
      i.icon.photo
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B6DZkaZUUWphekFoMl9oWkRLNGc/view?usp=sharing") 會議手冊
      i.icon.file.text
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B6DZkaZUUWphTDZnQXctQ2trWHc/view?usp=sharing") 議題資料
      i.icon.file.text
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://docs.google.com/spreadsheets/d/1itfqA9RKH7kRgfwzyH2yUaSSVl_UVse27M-Um-cYl5Q/edit#gid=0") 秘訣
      i.icon.pencil
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://docs.google.com/document/d/1DV9cJuRix6Mp0JWinKZVkg-o2Z8-WzuNuLca59B0RWE/edit?usp=sharing") 秘訣的泉源
      i.icon.unhide
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B6DZkaZUUWphQ3JPeEVURXFQeXc/view?usp=sharing") 秘訣的泉源的泉源
      i.icon.unhide
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="") 報名頁面存檔
      i.icon.archive
  //-.related 相關場次

block photo
  iframe(src='http://embedsocial.com/facebook_album/album_photos/688402134590904', width='900', height='1450', frameborder='0', scrolling='no', marginheight='0', marginwidth='0')

block video
  iframe(width='560', height='315', src='https://www.youtube.com/embed/videoseries?list=PLqOM19aHIAdd1d1TF1REvrdMVGZlXFr4P', frameborder='0', allowfullscreen='')

block subscript
  script.
    var gsheet_url ='https://docs.google.com/spreadsheets/d/1itfqA9RKH7kRgfwzyH2yUaSSVl_UVse27M-Um-cYl5Q/pubhtml';
