extends grassroot

block head
  meta(name="description",content="...")

block subtitle
  | 地球公民基金會 | 

block header-images
  img.ui.image(src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10885279_763701757012569_716917036908782847_n.jpg?oh=abbc7a74b548d7e2075981e113d58c97&oe=554A0948")
  img.ui.image(src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10846187_763702290345849_8129334834182105454_n.jpg?oh=362f2d77357738a3a87b3eed035f2e47&oe=55491A30&__gda__=1432104198_fe9b184748adbc424db0c0da46026f46")
  img.ui.image(src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10410151_763702280345850_7424350990609295964_n.jpg?oh=445b87dcff31eeede08b2a1fc1097579&oe=5558299B&__gda__=1433219569_da0d3dc5417aeed66a63a1ad4785652d")

block header-title
  | 草根論壇 x 地球公民基金會

block meta

  .column
    p.item
      span.key 主題
      span.value 空污怎麼辦？
    p.item
      span.key 主辦
      span.value 地球公民基金會
    p.item
      span.key 時間
      span.value 2014/12/19 星期五 19:00-22:00
    p.item
      span.key 地點
      span.value 地球公民基金會臺北辦公室
  .column
    p.item
      span.key 參加人數
      span.value 人
    p.item
      span.key 參加者組成
      span.value ...
    p.item
      span.key 報名頁面
      a.value(href="https://docs.google.com/forms/d/1h6vywaEQOS2RmdISFv_Z6ntaORK2ATshmogZ_X_NjT4/viewform",target="_blank")
        | google form
        span.ui.left.pointing.mini.black.label 已結束

block main-article
  //-h2 活動緣由
  p 你我都需要呼吸乾淨的空氣，渴望健康無毒的環境。面對日益嚴重的空氣汙染，儘管民間不斷呼籲實施空污總量管制，降低大污染源排放上限，經濟部卻說：「如此將不利新投資案設廠」。鳩竟~什麼樣的生活形態與價值選擇才是台灣社會要的環境正義？『綠色經濟』與『產業轉型』有沒有可能為不堪負荷的小小島嶼找到出口？空汙議題與產業政策的背後，又是怎樣的政治結構阻礙了改革？這是一場體驗民主參與的活動，大家提出自己的感受與分析，與其他關心議題的公民朋友交流，共同探討台灣的改造方向。
block footer
  .section.ui.black.labels
    span.text 草根生長地點
    a.ui.label 台北市
  //-.section.ui.tag.black.labels
    span.text 討論內容
    a.ui.label 空污
  .section.ui.black.labels
    span.text 工作團隊
    .ui.label 怡碧
    .ui.label 志勳
    .ui.label 家華
    .ui.label 仲庭
  .section.links
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://www.facebook.com/media/set/?set=oa.1584804161753868&type=1") 活動照片
      i.icon.photo
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B6DZkaZUUWphclg1VlNpdTd4U3M/view") 會議手冊
      i.icon.file.text
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B6DZkaZUUWphTm1VTFRiWkZZUGs/view") 議題資料
      i.icon.file.text
  //-.related 相關場次

block subscript
  script.
    var gsheet_url ='https://docs.google.com/spreadsheets/d/1GD2B3sC8TvkVaU4RZwiNeqtxvawqfcKaNAmshQXmPz4/pubhtml';
