extends grassroot

block subhead
  meta(name="description",content="...")

block subtitle
  | #8 在地開講 桃園航空城聽證準備

block header-images
  //-img.ui.image(src="https://lh5.googleusercontent.com/7QXeW13UO3hPp8AbHXS62_g7nugJhwu0k3l1Yk17HfhRhUzfJ7kRo-b0boeluW5jY0lUjB7hCHE=w2536-h1229")
  //-img.ui.image(src="https://lh5.googleusercontent.com/OyERvyQlJRTKB0Gxq4E-opxxudZCAnlihKwF_igWE0IZFU-YHtHsdv0Z_8YOAqxaM9yjbFysWq0=w2536-h1229")
  //-img.ui.image(src="https://lh6.googleusercontent.com/qzp4s7aGV5pcNePCrh8BVZTHvZc-D0NzV1bgUOVqIlFlHp1JW5upw9QgsQPGwtt9BSYFa9G8oTA=w2536-h1229")
  //-img.ui.image(src="https://lh4.googleusercontent.com/6_B71bwqsuYi3luNOgSMV4Hax8rrewqHqCCrCLTJU8ElaPnnfLNdkgyHqhaoy3U1HGoIrM_-1QA=w2536-h1229")
  //-img.ui.image(src="https://lh4.googleusercontent.com/CLQ6LrG3mpcPM_07ZgdWQeqr1lrw2PXUjiBbQbFW1tplmkRdgeoBQf770LOe8pDKt86oj4K_-pI=w2536-h1229")

block header-title
  | #8 在地開講 桃園航空城聽證準備

block meta

  .column
    p.item
      span.key 主辦
      span.value 桃園航空城反迫遷聯盟
    p.item
      span.key 協辦
      a.value(href='http://www.tahr.org.tw/',target='_blank') 台灣人權促進會
        i.icon.forward.mail      
    p.item
      span.key 時間
      span.value 2015/1/18 星期日 下午12:30~16:30
    p.item
      span.key 地點
      span.value 桃園市蘆竹區八股路150號
  .column
    p.item
      span.key 參加人數
      span.value 38（男23，女15）人
    p.item
      span.key 參加者組成
      span.value 航空城地區居民，平均年齡50以上

block main-article

  p 桃園航空城：政府沒說清楚的事情

block footer

  //-.section.ui.black.labels
    span.text 草根生長地點
    a.ui.label 桃園市（航空城水尾地區）
  .section.ui.black.labels
    span.text 解說
    .ui.label 林敏聰
    .ui.label 邱伊翎
  .section.ui.black.labels
    span.text 主持
    .ui.label 王寶萱
    .ui.label 黃怡碧
  .section.ui.black.labels
    span.text 紀錄
    .ui.label 蕭嫚琳
    .ui.label 葉瑾瑜
    .ui.label 李仲庭
  .section.ui.black.labels
    span.text 籌備
    .ui.label 施逸翔
    .ui.label 呂弈齊
  .section.links
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="https://docs.google.com/forms/d/1sPgKBDCSscQfsfAGRAX0XCg7YUtkUuOfO8CI1x0DPFs/viewform") 報名頁面存檔
      i.icon.archive
    //-a.ui.black.icon.right.labeled.button(target="_blank",href="") 活動照片
      i.icon.photo
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/open?id=0B1KrXPla6Lm6S1hDVUJNR1Ffc3c&authuser=0") 白板照片
      i.icon.photo
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/open?id=0B6DZkaZUUWphYWVTbWtZRTgwUGs&authuser=0") 會議手冊
      i.icon.file.text
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/open?id=0B7dXmHoZEOeUYlhYVm9ZNzZpdUk&authuser=0") 會後新聞稿
      i.icon.file.text
    a.ui.black.icon.right.labeled.button(target="_blank",href="https://drive.google.com/file/d/0B7dXmHoZEOeUazBvcmVCdHNiWDA/view?usp=sharing") 場邊側記
      i.icon.file.text
  //-.related 相關場次

block subscript
  script.
    var gsheet_url ='https://docs.google.com/spreadsheets/d/1M46ekvLwToRJ3MrPkqxKtHlp2_Y0GKwxbV13AscGHzA/pubhtml';
