extends _template

block body

  nav#topbar
    .ui.borderless.menu.bar.horizontal.wrap
      a.item(href="index")
        img.logo.image(src="img/logo-inverted.png")
        span.logo.text 公民憲政推動聯盟
      a.item(href="news")
        i.icon.announcement
        | 新聞
      a.item(href="grassroots")
        i.icon.leaf
        | 草根論壇
      a.item(href="grassroot-training")
        i.icon.student
        | 主持培訓
      .right.menu
        //-a.item(href="")
          //-i.icon.rocket
          //-i.icon.flag
          i.icon.plane
          | 目標與計畫
        a.item(href="join")
          i.icon.plus
          | 加入合作
        block topbar

  block content

  footer#bottombar
    .ui.borderless.menu.bar.horizontal.wrap
      a.item(href="about")
        i.icon.code
        | 關於本站：憲動盟野生官網
      .right.menu
        a.ui.button.item(target="_blank",href="http://www.new-tw.org/")
          | 憲動盟官網
          i.icon.globe
        a.ui.button.item(target="_blank",href="https://www.facebook.com/newtw.org") 憲動盟粉絲專頁
          i.icon.facebook
        a.ui.button.item(target="_blank",href="https://www.facebook.com/groups/1563332767234341/") 草根一堆人
          i.icon.facebook.square
