extends index

block head

block title
  | 範例活動 | 

block content

  #event

    header#header
      .background
        img.ui.image(src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/10397046_743166745732737_6981759218115780785_o.jpg")
        img.ui.image(src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/1801143_743167149066030_4365130757095527117_o.jpg")
        img.ui.image(src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/10298306_743166935732718_5677566081269997932_o.jpg")
      .cover
        .title
          h1.ui.header
            span.label 憲政草根論壇
            span.x
              i.icon.remove
            span.label 司改會
            //-span.small 2014 Augest 09 
    section#content
      article.event.meta.ui.two.column.stackable.divided.grid
        .column
          p.item
            span.key 主辦
            span.value 民間司法改革基金會
          p.item
            span.key 時間
            span.value 2014年08月29日 星期五 下午13:00~17:00
          p.item
            span.key 地點
            span.value 司改會辦公室 (台北市中山區松江路90巷3號7樓)
        .column
          p.item
            span.key 參加人數
            span.value 18人
          p.item
            span.key 參加者組成
            span.value 多為當時暑假在司改會實習的各大專院校學生，及其轉邀的朋友，年齡多為19歲~23歲，其中半數為大台北地區學生。
      article.description
        p 今年八月間，同為「公民憲政推動聯盟」一員的司改會，響應正在籌備規劃中的草根論壇，決定試辦第一場公民憲政會議草根論壇，邀請當時在司改會實習的大學生，及其轉邀請的朋友，進行一場三個多小時的草根論壇，暢談青年學子們對台灣憲政問題的不滿，並提出許多對政府體制改革的不同想像。
      article#log
        .ui.horizontal.divider 紀錄
        .sample.ui.five.column.stackable.divided.grid
          .column
            .key
              i.icon.remove.red
            p.value 有人強烈反對該項發言並提出不同見解
          .column
            .key
              i.icon.empty.star.gray
              i.icon.empty.star.gray
              i.icon.empty.star.gray
            p.value 無人贊同
          .column
            .key
              i.icon.star.yellow
              i.icon.empty.star.gray
              i.icon.empty.star.gray
            p.value 僅少數人支持認同
          .column
            .key
              i.icon.star.yellow
              i.icon.star.yellow
              i.icon.empty.star.gray
            p.value 約半數人支持認同
          .column
            .key
              i.icon.star.yellow
              i.icon.star.yellow
              i.icon.star.yellow
            p.value 全場多數人支持認同

        #pilot.ui.menu
          a.item 感受到的國家/體制問題
            .ui.label 10
          a.item 主張的價值與改革方向
            .ui.label 10
          .right.menu
            .item.ui.button 全部展開
            .item.ui.button 全部收合
            .item.ui.simple.dropdown 依發言順序
              i.icon.dropdown
              .menu
                .item 依發言順序
                .item 依重要性
                .item 依同意度
        #filter.ui.secondary.menu
          a.item 分類標籤
            .ui.label 10
        #list
          .entry
            .meta
              i.icon.star.yellow
              i.icon.star.yellow
              i.icon.star.yellow
            .content
            .action
 



block script
  script.

        ★★★ 總統有權無責(他可以任意作他想作的，大家不能怎麼樣)

        ★★☆ 罷免門檻過高：成本高、侵害隱私權、無法宣傳、沒有公務協助、投票時要雙重檢核太嚴格

        ★★★ 選舉應看居住地而非看戶籍

        ★★★ 投票文化問題，地方派系把持，讓「世襲」實質可能

        ★★☆ 投票年齡限制太高、被選舉資格年齡門檻太高

        ★★★ 黨紀綁架民意代表，或者是總統身兼黨主席的問題

         

         

        ★★★ 總統不得身兼黨主席

        ★★★ 立「總統職權行使法」去規範

        ★★★ 在憲法增修條文中對總統職權列得更細一點

        →X 但憲法位階很高，不可能太細

        ★★★ 增加制衡總統的機制

        →★☆☆ 降低罷免門檻

        →★★☆ 增加行政院長的權利(比如有任期保障或下台要立委同意)，不受制總統

        →★☆☆ 禁止連任

        ★★☆ 改內閣制，讓總統變虛位元首

        ★★★ 使國會發揮監督總統的功能，例如國會組成改變、要求總統到立院報告

        →★★☆ 改成聯立制

        →★★★ 去除5%門檻

        →★☆☆ 更改選區劃定方式恢復成大選區

        →★★★ 給予小黨補助金

        →★★☆ 增加弱勢族群的代表

        ★☆☆ 革命、佔領總統府

        →X 但後續要如何？不一定會成功。成本太高

        ★★★ 競選繼位總統候選人的選票上加註警語：「他選第二任了喔！」

        ★☆☆ 不投票運動（讓投票率極低）：讓當選總統得票低得可笑；且選制改為絕對多數制

        ★☆☆ 鼓勵公民參選總統運動：作為社會運動手段。

 
