extends index

block head

block title
  | 範例活動 | 

block content

  #event

    header#header
      .background
        img.ui.image(src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/10397046_743166745732737_6981759218115780785_o.jpg")
        img.ui.image(src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/1801143_743167149066030_4365130757095527117_o.jpg")
        img.ui.image(src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/10298306_743166935732718_5677566081269997932_o.jpg")
      .cover
        .title
          h1.ui.header
            span.label 憲政草根論壇
            span
              i.icon.remove
            span.label 司改會
            span.small 2014/01/01 Fri. 7 - 9 pm


block script
  script.

