@charset "UTF-8";
html {
  font-family: "Noto Sans", "Noto Sans T Chinese", "微軟正黑體", sans-serif;
  color: #333333;
}

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4, p {
  font-size: 20px;
}

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #efefef;
}

p {
  line-height: 1.5em;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.no.margin {
  margin: 0;
}

.float.right {
  float: right;
}

.align.center {
  text-align: center;
}

.clear.both {
  clear: both;
}

#topbar {
  background-color: #aa987b;
}
#topbar .ui.menu {
  background-color: #aa987b;
  margin-bottom: 0;
}
#topbar .ui.menu .item {
  color: white;
  font-size: 1rem;
}
#topbar .ui.menu .logo.image {
  width: 1rem;
  margin: -1rem 0.5rem -0.1rem 0;
  display: inline;
}

#bottombar {
  background-color: #d8d0b0;
}
#bottombar .ui.menu {
  background-color: #d8d0b0;
}

.menu.bar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.menu.bar .item:first-child, .menu.bar .item:last-child {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.horizontal.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#event #header, #list #header {
  position: relative;
  background: url('/public/img/bg-grass.png?1419418593') repeat-x center bottom, #576b2e;
  background: url('/public/img/bg-grass.png?1419418593') repeat-x center bottom, #5ea092;
  background: url(https://raw.githubusercontent.com/g0v/don-constitute/gh-pages/public/img/bg-grass.png) repeat-x center bottom, #31343d;
  text-align: center;
}
#event #header .background, #list #header .background {
  text-overflow: clip;
  white-space: nowrap;
}
#event #header .cover, #list #header .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5));
}
#event #header .cover .title, #list #header .cover .title {
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
}
#event #header .cover .title .header, #list #header .cover .title .header {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

#list #header .background {
  height: 10rem;
}
#list #content {
  padding: 1rem 0;
}
#list #content h2 {
  margin-bottom: 0.5rem;
}
#list #content h2 .button {
  margin-top: -0.3em;
}
#list #content h2 .label {
  top: -0.1em;
  margin-left: 0.5em;
}
#list #content h2 a {
  padding: 0.5rem 0;
  display: block;
}

#event #header .background {
  height: 15rem;
}
#event #header .background .image {
  height: 15rem;
  display: inline;
}
#event #content .description {
  padding: 1rem;
}
#event #content .description p {
  font-size: 1.2rem;
}
#event #content .event.meta {
  margin: 0;
  background-color: #e4e8e1;
  background-color: rgba(152, 192, 183, 0.5);
}
#event #content .event.meta .item .key {
  font-weight: bold;
}
#event #content .event.meta .item .value {
  margin-left: 1rem;
}
#event #content .event.meta .item .value .label {
  margin-left: 1em;
}
#event #content #log .icon {
  margin: 0;
}
#event #content #log .icon.red {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
}
#event #content #log .icon.gray {
  color: rgba(0, 0, 0, 0.5);
}
#event #content #log .icon.yellow {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
}
#event #content #log #sample .key {
  text-align: center;
}
#event #content #log #sample .value {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}
#event #content #log #pilot {
  margin-bottom: 0;
  margin-top: 1rem;
}
#event #content #log #filter {
  margin: 1rem 0;
}
#event #content #log #filter.collapsed {
  height: 5rem;
  overflow-y: hidden;
}
#event #content #log #list .entry {
  position: relative;
  margin-left: 5rem;
  margin-right: 3rem;
  margin-top: 1rem;
}
#event #content #log #list .entry .segment {
  margin-bottom: 0;
}
#event #content #log #list .entry .segment .rating {
  position: absolute;
  left: -5rem;
  top: 1rem;
}
#event #content #log #list .entry .segment .content {
  font-size: 1.2rem;
  margin-top: -0.2em;
  margin-bottom: 0;
  color: black;
}
#event #content #log #list .entry .segment .nickname {
  font-size: 80%;
  font-style: italic;
  color: #999999;
}
#event #content #log #list .entry .segment .tag {
  float: right;
  margin: -0.2rem 0 -1rem 1rem;
}
#event #content #log #list .entry .segment .tag .ui.label {
  margin-bottom: 0.5rem;
}
#event #content #log #list .entry .segment .action {
  position: absolute;
  right: -3rem;
  top: 0.6rem;
}
#event #content #log #list .entry .detail .comment {
  padding: 0 1rem;
  margin: 0;
  background-color: #e4e8e1;
}
#event #content #log #list .entry .detail .comment .item:first-child {
  padding-top: 0.5rem;
}
#event #content #log #list .entry .detail .comment .item:last-child {
  padding-bottom: 0.5rem;
}
#event #content #log #list .entry .detail .subentry {
  margin-right: -6rem;
}
#event #content #log #list .entry .detail .subentry .entry:first-child {
  margin-top: 1rem;
}
#event #content #footer {
  padding: 1rem;
  background-color: #31343d;
  color: #e4e8e1;
}
#event #content #footer .section {
  margin-right: 1rem;
  display: inline-block;
  min-height: 3rem;
}
#event #content #footer span.text {
  margin-right: 1rem;
}
#event #content #footer .links .button {
  margin-bottom: 0.5rem;
}
#event #content #footer .social {
  padding-top: 0.8rem;
}
#event #content #footer .social .button {
  position: relative;
  top: -0.8rem;
}
