@charset "UTF-8";
html {
  font-family: "Noto Sans", "Noto Sans T Chinese", "微軟正黑體", sans-serif;
  color: #333333;
}

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4, p {
  font-size: 20px;
}

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #efefef;
}

p {
  line-height: 1.5em;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.no.margin {
  margin: 0;
}

.float.right {
  float: right;
}

.align.center {
  text-align: center;
}

.clear.both {
  clear: both;
}

#topbar {
  background-color: #aa987b;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
}
#topbar .item {
  color: white;
  font-size: 1rem;
}
#topbar .logo.image {
  width: 1rem;
  margin: -1rem 0.5rem -0.1rem 0;
  display: inline;
}

#event #header {
  position: relative;
  background: url('/public/img/bg-grass.png?1419418593') repeat-x center bottom, #576b2e;
  background: url('/public/img/bg-grass.png?1419418593') repeat-x center bottom, #5ea092;
  background: url('/public/img/../../img/bg-grass.png') repeat-x center bottom, #31343d;
  background: url('/public/img/../../../don-constitude/public/img/bg-grass.png') repeat-x center bottom, #31343d;
  text-align: center;
}
#event #header .background {
  height: 15rem;
  text-overflow: clip;
  white-space: nowrap;
}
#event #header .background .image {
  height: 15rem;
  display: inline;
}
#event #header .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5));
}
#event #header .cover .title {
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
}
#event #header .cover .title .header {
  color: white;
  font-size: 1.5rem;
}
#event #header .cover .title .icon {
  margin: 0;
}
#event #header .cover .title .small {
  font-size: 1rem;
  margin-left: 1rem;
}
#event #header .cover .title .label {
  background-color: #aa987b;
  background-color: #98c0b7;
  background-color: #779933;
  background-color: #5ea092;
  padding: 0.5rem 1rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
#event #content {
  max-width: 1200px;
  margin: 0 auto;
}
#event #content .description {
  padding: 1rem;
}
#event #content .event.meta {
  margin: 0;
  background-color: #e4e8e1;
  background-color: rgba(152, 192, 183, 0.5);
}
#event #content .event.meta .item .key {
  font-weight: bold;
}
#event #content .event.meta .item .value {
  margin-left: 1rem;
}
#event #content #log .icon {
  margin: 0;
}
#event #content #log .icon.red {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
}
#event #content #log .icon.gray {
  opacity: 0.5;
}
#event #content #log .icon.yellow {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
}
#event #content #log .sample .key {
  text-align: center;
}
#event #content #log .sample .value {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}
#event #content #log #pilot {
  margin-bottom: 0;
}
#event #content #log #filter {
  margin-top: 0;
}
