#topbar {
  background-color: #aa987b;
}
#topbar .ui.menu {
  background-color: #aa987b;
  margin-bottom: 0;
}
#topbar .ui.menu .active.item {
  -moz-box-shadow: white 0 -2px 0 inset;
  -webkit-box-shadow: white 0 -2px 0 inset;
  box-shadow: white 0 -2px 0 inset;
}
#topbar .ui.menu .item {
  color: white;
  font-size: 1rem;
}
#topbar .ui.menu .logo.image {
  width: 1rem;
  margin: -1rem 0.5rem -0.1rem 0;
  display: inline;
}

#bottombar {
  background-color: #d8d0b0;
}
#bottombar .ui.menu {
  background-color: #d8d0b0;
}

.menu.bar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.menu.bar .item:first-child, .menu.bar .item:last-child {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#home ul.bxslider {
  margin: 0;
}
#home ul.bxslider img {
  margin: 0 auto;
}
#home #promote li {
  background-color: #333333;
}

#about #content {
  padding: 2rem 1rem;
  text-align: center;
}
#about #content h1 {
  font-size: 2rem;
}

#news #header {
  height: 10rem;
  background-color: #f4f7d9;
}

#event #header, #list #header {
  position: relative;
  background: url('/public/img/bg-grass.png?1419418593') repeat-x center bottom, #576b2e;
  background: url('/public/img/bg-grass.png?1419418593') repeat-x center bottom, #5ea092;
  background: url(https://raw.githubusercontent.com/g0v/don-constitute/gh-pages/public/img/bg-grass.png) repeat-x center bottom, #31343d;
  text-align: center;
}
#event #header .background, #list #header .background {
  text-overflow: clip;
  white-space: nowrap;
}
#event #header .cover, #list #header .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5));
}
#event #header .cover .title, #list #header .cover .title {
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
}
#event #header .cover .title .header, #list #header .cover .title .header {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

#list #header .background {
  height: 10rem;
}
#list #content {
  padding: 1rem 0;
}
#list #content h2 {
  margin-bottom: 0.5rem;
}
#list #content h2 .button {
  margin-top: -0.3em;
}
#list #content h2 .label {
  top: -0.1em;
  margin-left: 0.5em;
}
#list #content h2 a {
  padding: 0.5rem 0;
  display: block;
}

#event #header .background {
  height: 10rem;
}
#event #header .background .image {
  height: 10rem;
  display: inline;
}
#event #menu {
  background-color: #444444;
  width: 100%;
}
#event #overview .video {
  width: 100%;
  background-color: #cccccc;
  text-align: center;
  margin-bottom: 1rem;
}
#event #overview .event.meta {
  margin: 0;
  background-color: #e4e8e1;
  background-color: rgba(152, 192, 183, 0.5);
}
#event #overview .event.meta .item .key {
  font-weight: bold;
}
#event #overview .event.meta .item .value {
  margin-left: 1rem;
}
#event #overview .event.meta .item .value .label {
  margin-left: 1em;
}
#event #overview .description {
  padding: 1rem;
}
#event #overview .description p {
  font-size: 1.2rem;
}
#event #overview #footer {
  padding: 1rem;
  background-color: #31343d;
  color: #e4e8e1;
}
#event #overview #footer .section {
  margin-right: 1rem;
  display: inline-block;
  min-height: 3rem;
}
#event #overview #footer span.text {
  margin-right: 1rem;
}
#event #overview #footer .links .button {
  margin-bottom: 0.5rem;
}
#event #overview #footer .social {
  padding-top: 0.8rem;
}
#event #overview #footer .social .button {
  position: relative;
  top: -0.8rem;
}
#event #records #log .icon {
  margin: 0;
}
#event #records #log .icon.gray {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
}
#event #records #log .icon.red {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
}
#event #records #log .icon.orange {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
}
#event #records #log .icon.green {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
}
#event #records #log .icon.yellow {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
}
#event #records #log #sample .key {
  text-align: center;
}
#event #records #log #sample .value {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}
#event #records #log #pilot {
  margin-bottom: 0;
  margin-top: 1rem;
}
#event #records #log #filter {
  margin: 1rem 0;
}
#event #records #log #filter.collapsed {
  max-height: 5rem;
  overflow-y: hidden;
}
#event #records #log #list .entry {
  position: relative;
  margin-left: 5rem;
  margin-right: 3rem;
  margin-top: 1rem;
}
#event #records #log #list .entry .segment {
  margin-bottom: 0;
}
#event #records #log #list .entry .segment .rating {
  position: absolute;
  left: -5rem;
  top: 1rem;
}
#event #records #log #list .entry .segment .content {
  font-size: 1.2rem;
  margin-top: -0.2em;
  margin-bottom: 0;
  color: black;
}
#event #records #log #list .entry .segment .nickname {
  font-size: 80%;
  font-style: italic;
  color: #999999;
}
#event #records #log #list .entry .segment .tag {
  float: right;
  margin: -0.2rem 0 -1rem 1rem;
}
#event #records #log #list .entry .segment .tag .ui.label {
  margin-bottom: 0.5rem;
}
#event #records #log #list .entry .segment .action {
  position: absolute;
  right: -3rem;
  top: 0.6rem;
}
#event #records #log #list .entry .detail .comment {
  padding: 0 1rem;
  margin: 0;
  background-color: #e4e8e1;
}
#event #records #log #list .entry .detail .comment .item:first-child {
  padding-top: 0.5rem;
}
#event #records #log #list .entry .detail .comment .item:last-child {
  padding-bottom: 0.5rem;
}
#event #records #log #list .entry .detail .subentry {
  margin-right: -3rem;
}
#event #records #log #list .entry .detail .subentry .entry:first-child {
  margin-top: 1rem;
}
